= form_for application do |f|
  - if application.errors.present?
    .alert-container
      .alert.alert-error
        %ul
          - application.errors.full_messages.each do |msg|
            %li= msg

  %div
    = f.label :name
    = f.text_field :name, autofocus: true
  = f.submit class: 'btn'
