= render 'shared/application_tabs'

- @data.each do |table, rows|
  = render_listing "es__#{application.id}__#{application.tire_name}__#{table.guid}".to_sym

- @data.each do |table, rows|
  %table.table.table-striped.table-bordered{style: "width: 400px"}
    %tr
      %th{colspan: table.fields.length, style: 'text-align: center'}= table.name
    %tr
      - table.fields.each do |field|
        %th= field.name
    - rows.each do |properties|
      %tr
        - table.fields.each do |field|
          %td= properties[field.guid].try(:user_friendly)
