.row-fluid
  .span12
    %h4 Messages
    %p.small Total number of messages sent and received
    .messages-box
      %h1
        = number_with_delimiter @message_count_all
        %small messages received

      %p
        = number_with_delimiter @message_count_today
        from today
      %p
        = number_with_delimiter @message_count_7_days
        from last 7 days
      %p
        = number_with_delimiter @message_count_30_days
        from last 30 days

.row-fluid
  .span12
    .span3
      = icon_link_to :'icf-export', 'Export application', application_export_path(application)

    .span9
      - collapsible_form_for application_import_path(application), icon: 'import', title: 'Import application', description: 'Upload an .mba in order to import an application', submit: 'Import', id: 'import-form' do |f|
        %input#choose-file{:disabled => "disabled", :placeholder => "Choose File"}/
        .file-upload
          = icon_link_to :'icf-arrow', 'Choose a file', '#'
          = file_field_tag 'mba', class: 'choose'

%hr

= icon_link_to :'icf-delete', "Delete this application", application, method: :delete, confirm: "Are you sure you want to delete the application '#{application.name}'"

