.row-fluid
  .span9
    %h4 Messages
    %p.small Total number of messages sent and received
    = image_tag "img-placeholder1.png"
  .span3

.row-fluid
  .span3
    = icon_link_to :'icf-export', 'Export application', application_export_path(application)

  .span3
    = icon_link_to :'icf-import', 'Import application', '#import-form', data: { toggle: 'collapse' }

#import-form.collapse(style="width: 400px")
  .well.well-small
    = form_tag application_import_path(application), multipart: true, class: 'form-inline' do |f|
      = file_field_tag 'mba'
      = button_tag 'Upload', class: 'btn'

%hr

= icon_link_to :'icf-delete', "Delete this application", application, method: :delete, confirm: "Are you sure you want to delete the application '#{application.name}'"

