.row-fluid
  .span12
    = render 'shared/application_tabs'

.row-fluid
  .span9
    .row-fluid
      .span9
        %h4 Messages
        %p.small Total number of messages sent and received
        = image_tag "img-placeholder1.png"
      .span3
  .span3
    = render 'shared/testing_sandbox'
= link_to application_export_path(application), class: 'btn' do
  %i.icon-download
  Export application

= link_to '#import-form', class: 'btn', data: { toggle: 'collapse' } do
  %i.icon-upload
  Import application

%br
%br

#import-form.collapse(style="width: 400px")
  .well.well-small
    = form_tag application_import_path(application), multipart: true, class: 'form-inline' do |f|
      = file_field_tag 'mba'
      = button_tag 'Upload', class: 'btn'

%br

= link_to "Delete this application", application, method: :delete, confirm: "Are you sure you want to delete the application '#{application.name}'"

