%div{'ng-app' => 'mbuilder'}
  - angular_templates "shared/angular"
  - angular_templates "shared/actions"
  - angular_templates "shared/pieces"
  - angular_templates "shared/pills"

  %div{'ng-controller' => 'ExternalTriggerController', 'ng-init' => external_trigger_to_angular(application, external_trigger)}
    %div{'ng-controller' => 'TriggerController'}
      .row-fluid{dragover: 'dragOverBoard($event)', drop: 'dropOverBoard($event)'}
        .span6
          %label{for: :name} Trigger name
          %input{'ng-model' => '$parent.name', type: :text, name: :name, autofocus: true, placeholder: "Give your trigger a name", class: 'span12 n'}
          %br
          %br
          .radio
            %label
              %input{'type' => 'radio', 'name' => 'auth_method', 'value' => 'basic_auth', 'ng-model' => '$parent.authMethod'}
              Basic auth: Use this if a 3rd party application will be calling this trigger and you can specify user and password
          .radio
            %label
              %input{'type' => 'radio', 'name' => 'auth_method', 'value' => 'oauth', 'ng-model' => '$parent.authMethod'}
              Oauth token: Use this if you are going to call this trigger from another InSTEDD application."
          %br
          %label{for: :message} When a post to this url is received:
          .message-container
            .from
              %strong
                = "#{root_url}external/application/#{application.id}/trigger/{{$parent.name}}?"
                %span{'ng-repeat' => 'pill in parameters'}
                  {{pill.name}}=
                  %span(ng-include src='pillTemplateFor(pill)')
                  &
            %div
              %span{'ng-repeat' => 'pill in parameters'}
                %div
                  %input{:'ng-model'=>"pill.name", :type=>"text"}
                  \=
                  %span(ng-include src='pillTemplateFor(pill)')
                  %a.delete{href: 'javascript:', 'ng-click' => 'deleteParameter($index)'} x
                .space-between-actions
              = icon_link_to :'icc-add', 'Add additional parameter', 'javascript:', {:class => 'blue', 'ng-click' => 'addParameter()'}
              .received-at
                %strong Received at:
                .pill.bound{draggable: 'true', dragstart: 'receivedAtDragStart($event)'}
                  yyyymmdd
          %br
          = render 'shared/triggers/actions'
        = render 'shared/triggers/tables'

      .row-fluid
        .span6
          %button.btn{'ng-click' => 'save()'} Save
          = link_to "Cancel", application_message_triggers_path(application), class: "btn btn-link"

          - if external_trigger.id
            = icon_link_to :'icf-delete', 'Delete this trigger', "/applications/#{application.id}/external_triggers/#{external_trigger.id}", {method: :delete, confirm: "Are you sure you want to delete this trigger?", class: "pull-right"}
          - else
            = icon_link_to :'icf-delete', 'Delete this trigger', "/applications/#{application.id}/message_triggers/", { class: "pull-right"}

      = render 'shared/triggers/popups'
