- add_body_class "centred"

.homepage
  .row-fluid.main-img
    .span7
      %h1.span12
        Scalable SMS applications
        %small
          you can build in minutes and change
          %br whenever you want
      .row-fluid
        .span7
          %p SMS is the workhorse of mobile applications for resource-limited scenarios. mBuilder is a free and open-source tool that you can use to build scalable SMS applications without any programming knowledge. In a matter of minutes, you can design, prototype, test and launch applications that can range from simple keyword/response apps to complex tools such as chat groups or workflows.  You can use mBuilder to collect, store and query data, building your own tables. Your existing applications can easily be SMS-powered using mBuilder’s API.
          - if current_user
            %p
              Get started:
              = link_to 'View your applications', applications_path, :class => "btn btn-warning"
          - else
            %p
              Get started:
              = link_to 'Create an account', guisso_sign_up_path_for(:user), :class => "btn btn-warning"
            %p
              Already a member?
              = link_to 'Log in', guisso_sign_in_path_for(:user)

    .span5
      = image_tag "main-home.png"

      .onepager
        = icon_link_to :'icf-pdf', 'Download One-Pager pdf (1.15 MB)', 'OnePager.pdf', {target: '_blank'}

  - feature_carrousel do
    - feature_carrousel_item 'Design', image_class: 'icfl-settings' do
      your SMS application in minutes without programming
    - feature_carrousel_item 'Build', image_class: 'icfl-table' do
      your own tables, with the columns you need for your data
    - feature_carrousel_item 'Test', image_class: 'icfl-test' do
      your application as you build it
    - feature_carrousel_item 'Schedule', image_class: 'icfl-date' do
      periodic messages to your users
    - feature_carrousel_item 'Use', image_class: 'icfl-android' do
      an android phone to run a small scale project
    - feature_carrousel_item 'Connect', image_class: 'icfl-plug' do
      popular SMS channels such as Twilio or Clickatell to scale
    - feature_carrousel_item 'Change', image_class: 'icfl-change' do
      and improve your application any time you want
    - feature_carrousel_item 'React', image_class: 'icfl-directions' do
      to complex and flexible messages
    - feature_carrousel_item 'Collect', image_class: 'icfl-database' do
      structured data and export it in standard formats
    - feature_carrousel_item 'Query', image_class: 'icfl-query' do
      data stored in your tables and respond to user requests
    - feature_carrousel_item 'Free', image_class: 'icfl-free' do
      for anyone to use to help increase their social impact
    - feature_carrousel_item 'Open Source', image_class: 'icfl-open' do
      code for developers to use to improve its design and functionality



  .what-can-i-use
    .row-fluid
      .span12
        %h1 What can I use it for?
        %p mBuilder is an ideal tool if you need to build flexible SMS apps and don’t want to spend lots of time building something custom from scratch.

    .row-fluid
      .span6
        %h2 Group Chat
        %p
          %span
            %i.i96.chat
          Staying in touch with your team even in remote or disconnected situations is key for successful collaboration. You don’t need to adapt to existing chat tools neither build your custom application from scratch. mBuilder will let you define exactly the behaviour you need for your group chat. You can add and change commands as you learn from what works best for your team.

      .span6
        %h2 Data Collection
        %p
          %span
            %i.i96.database
          Having timely, reliable, quality data on your programs is the first step to understanding what’s going on. With mBuilder you can build a customized data collection application and store each piece of data in tables designed by you. These data can be integrated with other apps or viewed online in real-time. Use your own formats, try different things and even have coexisting different methods tailored to different users.

    .row-fluid
      .span6
        %h2 Social Media over SMS

        %p
          %span
            %i.i96.social
          In many situations, enabling sparse communities to have a digital space where they can share best practices, tips or keep each other updated on what they are doing is all you need for social change. You can build your own Twitter in minutes with mBuilder and have it work in any setting.

      .span6
        %h2 Event notifications
        %p
          %span
            %i.i96.event
          Do you want to keep a broad range of people notified about different events? Your users could subscribe by sending an SMS with a few keywords indicating the topics they are interested in. You could push notifications to interested users by simply sending an SMS with those same keywords.

  %br
  %br
  %hr
  %br
  %br

  .how-does-it-work
    .row-fluid
      .span6
        %h1 How does it work?
        %p mBuilder works in a very intuitive way. To create an application in mBuilder, you start by writing an example of the message your user would send. You build your tables the same way you would do it in a spreadsheet. You then select portions of the user message and drag them to the column where you want to store them. To use a value from a table in your response you drag the field and drop it inside your reply text.
      .span1
      .span4
        #screens.carousel.slide
          %ol.carousel-indicators
            %li.active{"data-slide-to" => "0", "data-target" => "#screens"}
            %li{"data-slide-to" => "1", "data-target" => "#screens"}
            %li{"data-slide-to" => "2", "data-target" => "#screens"}
            %li{"data-slide-to" => "3", "data-target" => "#screens"}
            %li{"data-slide-to" => "4", "data-target" => "#screens"}
            %li{"data-slide-to" => "5", "data-target" => "#screens"}
            %li{"data-slide-to" => "6", "data-target" => "#screens"}
          .carousel-inner
            .active.item= image_tag "home-tour01.gif"
            .item= image_tag "home-tour02.gif"
            .item= image_tag "home-tour03.gif"
            .item= image_tag "home-tour04.gif"
            .item= image_tag "home-tour05.gif"
            .item= image_tag "home-tour06.gif"
      .span1

  %br
  %br
  %hr
  %br
  %br

  .how-can-i-help
    .row-fluid
      .span12
        %h3 How Can I Help?
        %p.muted Got suggestions or feature requests? Join the discussion.
        %p= icon_link_to :'icf-chat', 'Join our discussion list', 'https://groups.google.com/group/instedd-tech', {target: '_blank'}
        %br
        %p.muted Got a way with code? Help us develop our tools (and make the world a better place at the same time).
        %p= icon_link_to :'icf-bulb', 'Visit our backlog', 'https://bitbucket.org/instedd/mbuilder/issues?status=new&status=open', {target: '_blank'}

:javascript
  $(function(){
    $('.carousel').carousel({
      interval: 2000
    })
  });
