%div{'ng-controller' => 'MessageTriggerController', 'ng-init' => message_trigger_to_angular(application, message_trigger)}
  %div{'ng-controller' => 'TriggerController'}
    .row-fluid{dragover: 'dragOverBoard($event)', drop: 'dropOverBoard($event)', dragend: 'dragEnd($event)'}
      .span6
        .checkbox
          %label
            %input{'ng-model' => '$parent.enabled', type: :checkbox, name: :enabled}
            Enabled
        %br
        %label{for: :name} Trigger name
        %input.n.span12#name{'ng-model' => '$parent.name', type: :text, name: :name, autofocus: true, placeholder: "Give your trigger a name"}
        %br
        %br
        %div
          %label{for: :message} When a message like this is received:
          .message-container
            .from
              From:
              .pill.bound{draggable: 'true', dragstart: 'phoneNumberDragStart($event)'}
                {{from}}

            %div
              %patternpad

            .received-at
              %strong Received at:
              .pill.bound{draggable: 'true', dragstart: 'receivedAtDragStart($event)'}
                yyyymmdd
        %br

        = render 'shared/triggers/actions'
      = render 'shared/triggers/tables'

    .row-fluid
      .span6
        %button.btn{'ng-click' => 'save()'} Save
        = link_to "Cancel", application_message_triggers_path(application), class: "btn btn-link"

        - if message_trigger.id
          = icon_link_to :'icf-delete', 'Delete this trigger', "/applications/#{application.id}/message_triggers/#{message_trigger.id}", {method: :delete, confirm: "Are you sure you want to delete this trigger?", class: "pull-right"}
        - else
          = icon_link_to :'icf-delete', 'Delete this trigger', "/applications/#{application.id}/message_triggers/", { class: "pull-right"}

    = render 'shared/triggers/popups'
