- if message_triggers.present?
  .row-fluid
    .span12
      %h4 Triggers
    - message_triggers.each do |trigger|
      .row-fluid
        .span12.box-list
          = icon_link_to :'icf-arrow', trigger.name, edit_application_message_trigger_path(application, trigger)

- if periodic_tasks.present?
  .row-fluid
    .span12
      %h4 Periodic Tasks

    - periodic_tasks.each do |trigger|
      .row-fluid
        .span12.box-list
          = icon_link_to :'icf-arrow', trigger.name, edit_application_periodic_task_path(application, trigger)

  / = render_listing :periodic_tasks

- if validation_triggers.present?
  .row-fluid
    .span12
      %h4 Validation Triggers

    - validation_triggers.each do |trigger|
      .row-fluid
        .span12.box-list
          = icon_link_to :'icf-arrow', trigger.field_name, application_validation_trigger_path(application, trigger.field_guid)

  / = render_listing :validation_triggers

- if external_triggers.present?
  .row-fluid
    .span12
      %h4 External Triggers

    - external_triggers.each do |trigger|
      .row-fluid
        .span12.box-list
          = icon_link_to :'icf-arrow', trigger.name, edit_application_external_trigger_path(application, trigger)

  / = render_listing :external_triggers

.row-fluid
  .span12
    / = icon_link_to :'icc-add', 'Add Trigger', '#', class: "add-trigger"
    %a.add-trigger{:href => "#"}
      %span.btn-icon.blue
        %i.icc-add
      Add Trigger
    .triggers-menu
      = link_to new_application_message_trigger_path(application) do
        = image_tag "trigger-message.png"
        Message trigger
      = link_to new_application_periodic_task_path(application) do
        = image_tag "trigger-date.png"
        Periodic task
      / Validations triggers are created from another trigger
      / %a{:href => "#"}
      /   = image_tag "trigger-validation.png"
      /   Validation trigger
      = link_to new_application_external_trigger_path(application) do
        = image_tag "trigger-external.png"
        External Trigger
