.row-fluid
  .span12
    %h4 Triggers
- if message_triggers.present?
  / = render_listing :message_triggers

  - message_triggers.each do |trigger|
    .row-fluid
      .span12.box-list
        = link_to edit_application_message_trigger_path(application, trigger), class: 'btn-icon' do
          %i.icf-arrow
        %p #{trigger.name}:
        / = link_to "delete", [application, trigger], method: :delete, confirm: "Are you sure you want to delete the trigger '#{trigger.name}'"

- if periodic_tasks.present?
  %h4 Periodic Tasks
  = render_listing :periodic_tasks

  / %ul
  /   - periodic_tasks.each do |periodic_task|
  /     %li
  /       #{periodic_task.name}:
  /       = link_to "edit", edit_application_periodic_task_path(application, periodic_task)
  /       |
  /       = link_to "delete", [application, periodic_task], method: :delete, confirm: "Are you sure you want to delete the periodic_task '#{periodic_task.name}'"

- if validation_triggers.present?
  %h4 Validation triggers
  = render_listing :validation_triggers
  / %ul
  /   - validation_triggers.each do |trigger|
  /     %li
  /       #{trigger.table_name} #{trigger.field_name}:
  /       = link_to "edit", application_validation_trigger_path(application, trigger.field_guid)
  /       |
  /       = link_to "delete", [application, trigger], method: :delete, confirm: "Are you sure you want to delete the validation trigger for '#{trigger.table_name} #{trigger.field_name}'"
.row-fluid
  .span12
    %a.add-trigger{:href => "#"}
      %span.btn-icon.blue
        %i.icc-add
      Add Trigger
    .triggers-menu
      = link_to new_application_message_trigger_path(application) do
        = image_tag "trigger-message.png"
        Message trigger
      = link_to new_application_periodic_task_path(application) do
        = image_tag "trigger-date.png"
        Periodic task
      %a{:href => "#"}
        = image_tag "trigger-validation.png"
        Validation trigger

