!!!
%html
  %head
    %title MBuilder
    = stylesheet_link_tag    "application", media: "all"
    = javascript_include_tag "application"
    = csrf_meta_tags
%body
  .wrapper
    = render "shared/header"
    = render "shared/appheader"

    .content
      .container-fluid
        - if flash[:notice].present?
          .alert-container
            .alert.alert-success
              %button.close{"data-dismiss" => "alert", "type" => "button"} x
              = flash[:notice]
        - if flash[:alert].present?
          .alert-container
            .alert.alert-block
              %button.close{"data-dismiss" => "alert", "type" => "button"} x
              = flash[:alert]

        = yield

    = render "shared/footer"

    / .footer
    /   .container-fluid
    /     .pull-right
    /       %p.muted.credit Version: #{Mbuilder::Application.config.version_name}
